<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.startupweekend.free" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".contentprovider.FreeContentProvider"
            android:authorities="com.android.startupweekend.free.contentprovider"
            android:exported="false" />

        <activity
            android:name=".WhatsNewActivity"
            android:label="@string/title_activity_whats_new"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.startupweekend.free.MainActivity" />
        </activity>
        <activity
            android:name=".ProductsActivity"
            android:label="@string/title_activity_products"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.startupweekend.free.MainActivity" />
        </activity>
        <activity
            android:name=".ServicesActivity"
            android:label="@string/title_activity_services"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.startupweekend.free.MainActivity" />
        </activity>
        <activity
            android:name=".EventsActivity"
            android:label="@string/title_activity_events"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.startupweekend.free.MainActivity" />
        </activity>
        <activity
            android:name=".MainDetailActivity"
            android:label="@string/title_activity_main_detail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.android.startupweekend.free.MainActivity" />
        </activity>
    </application>

</manifest>
